# MacOSX
**/*.DS_Store

# virtual environments
env/**
.venv/**
temp/**
__marimo__

# build directories
build/**
cache/**
models/**

# caches
*.cache
**/.pytest_cache/**
*.pyc
*.pkl
*.tar.xz
*.pkl.xz
*.egg-info

# rendering
*.eps
*.png
*.dat
*.tga
*.pdf
*.vmd

# movies
*.mpg
*.mp4

# data files
assets
*.db
*.cpt
*.edr
*.gro
*.log
*.mdp
*.out
*.pdb
*.ndx
*.tpr
*.trr
*.xml
*.xtc
*.xvg
*.xpm
*.csv
*.npz
*.parquet

