# MacOSX
**/*.DS_Store

# virtual environments
.venv
temp
__marimo__

# build directories
build
*.egg-info
*.lock

# caches
.mypy_cache
.pytest_cache
cache
*.cache
*.pyc
*.pkl
*.tar.xz
*.pkl.xz

# images
*.eps
*.png
*.dat
*.tga
*.pdf
*.vmd

# movies
*.mpg
*.mp4

# data files
assets
models
mlruns
*.db
*.log
*.out
*.pdb
*.csv
*.npz
*.parquet
