# Example XGBoost config for per-endpoint training
models:
  xgboost:
    # Docs: https://xgboost.readthedocs.io/en/stable/parameter.html
    objective: "mae" # {"mae", "rmse"}
    early_stopping_rounds: 50
    model_params:
      n_estimators: 500
      learning_rate: 0.3
      min_split_loss: 0
      max_depth: 6
      subsample: 1
      colsample_bytree: 1
      reg_lambda: 1.0
      reg_alpha: 0.0

training:
  sample_weights:
    enabled: false
    weights:
      default: 1.0

data:
  endpoints:
    - "LogD"
    - "KSOL"
    - "HLM CLint"
    - "MLM CLint"
    - "Caco-2 Permeability Papp A>B"
    - "Caco-2 Permeability Efflux"
    - "MPPB"
    - "MBPB"
    - "MGMB"
